spring:
  application:
    name: mero-backend

  profiles:
    active: local

  jpa:
    open-in-view: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 30MB

server:
  port: 8080